* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.header-area {
  background-color: #e9e9e9;
  padding: 30px;
  font-size: 17px;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

/* Small devices (≥576px) */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

/* Medium devices (≥768px) */
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

/* Large devices (≥992px) */
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

/* Extra large devices (≥1200px) */
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/* Ultra large screens (≥1400px) */
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.search-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 400px;
}

.search-container input[type="text"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
}

.search-container button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.search-container button[type="submit"]:hover {
  background-color: #0056b3;
}
